lombok.addLombokGeneratedAnnotation = true
###
# Lorsque les objets générés par lombok sont immutables (@Value), seul le constructeur avec tous les arguments est généré.
# Donc pour être en mesure d'instancier les objets, le mapper Jackson ne peut utiliser si les setters ni le constructeur par défaut.
# Par contre Jackson permet d'instancier les objets à partir :
# 1. Du builder en annotant la classe avec :
# @JsonDeserialize(builder = MyBuilder.class)
# 2. Du construteur avec tous les arguments s'il est annoté @ConstructorProperties (fonctionne si l'application n'utilise pas les modules Java 9)
# Voir https://projectlombok.org/changelog concernant la version v1.16.20 (January 9th, 2018)
###
# Propriété indiquant que lombok doit générer l'annotation @ConstructorProperties
lombok.anyConstructor.addConstructorProperties = true